<% provide(:title, 'About Ocelots') %>

		<h1>About Ocelots</h1>

		<p>The ocelot ranges from 68 to 100 centimetres (27 to 39 in) in length, plus 26 to 45 centimeters (10 to 18 in) in tail length, and typically weighs 8 to 18 kilograms (18 to 40 lb), although much larger individuals have occasionally been recorded, making it the largest of the generally dainty Leopardus wild cat genus. It has sleek, smooth fur, rounded ears and relatively large front paws. While similar in appearance to the oncilla and margay, which inhabit the same region, the ocelot is larger.</p>
	</body>
</html>