<% provide(:title, 'Want to Help?') %>

<h1>Want to Help?</h1>
<p>The ocelot is similar in appearance to a domestic cat. Its fur resembles that of a clouded leopard or jaguar and was once regarded as particularly valuable. As a result, hundreds of thousands of ocelots were once killed for their fur. The feline was classified a "vulnerable" endangered species from 1972 until 1996, and is now rated "least concern" by the 2008 IUCN Red List. Please visit <a href="http://www.defenders.org/ocelot/what-you-can-do"> the Defenders of Wildlife Page </a> for details on how to help.</p>
	</body>
</html>