<% provide(:title, 'Home') %>

<h1>Ocelot</h1>
<p>The ocelot (/ˈɒsəlɒt/; Leopardus pardalis), also known as the dwarf leopard, is a wild cat distributed extensively over South America including the islands of Trinidad and Margarita, Central America, and Mexico. It has been reported as far north as Texas. North of Mexico, it is found regularly only in the extreme southern part of Texas, although there are rare sightings in southern Arizona.</p>
	</body>
</html>