<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>The Ocelot</h1>
	<h4>The Dwarf Leopard</h4>
	<p>The ocelot (/ˈɒsəlɒt/; Leopardus pardalis), also known as the dwarf leopard, is a wild cat distributed extensively over South America including the islands of Trinidad and Margarita, Central America, and Mexico. It has been reported as far north as Texas. North of Mexico, it is found regularly only in the extreme southern part of Texas, although there are rare sightings in southern Arizona.</p>
	<h3> Have a question about Ocelots? Sign up to ask in our forum!</h3>
	<%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= image_tag("ocelot.gif", alt: "An Ocelot") %>
	</body>
</html>