<footer class="footer">
	<small>
		<a href="http://www.wildearthguardians.org/site/PageServer?pagename=species_mammals_ocelot&AddInterest=1059&gclid=CL3Gr57Y-LsCFepQOgodHFMA6Q">Ocelot Extinction</a>
	</small>
	<nav>
		<ul>
			<li><%=link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://www.google.com/search?q=ocelot&oq=ocel&aqs=chrome.0.69i59j69i57j69i60j69i59j69i60.1277j0j7&sourceid=chrome&espv=210&es_sm=93&ie=UTF-8#es_sm=93&espv=210&q=ocelot&tbm=nws">News</a></li>
		<ul>
	</nav>
</footer>